// set all elements to be box-sizing: border box to include any border, padding and content, but not margin.
*,
:after,
:before {
  @include box-sizing( border-box );
}

a img {
  border: none;
}

a,
img {
  border: 0;
  outline: none;
}

// set an absolutely positioned 100% height and width class to be used on multiple elements.
.abs-pos {
  position: absolute;
  top: 0;
  left: 0;
  width: $width;
  height: $height;
  overflow: hidden;
}

.rainClass {
  width: 1px;
  height: 10px;
  position: absolute;
  left: 10px;
  top: 15px;
  border-radius: 100% 0;
  background-color: white;
  @include box-shadow( 0px 0px 2px 0px rgba(255,255,255,1) );
}

.sparkClass {
  width: 14px;
  height: 3px;
  position: absolute;
  left: 10px;
  top: 15px;
  border-radius: 25%;
  background-color: #d34917;
}

.sparkClass2 {
  width: 14px;
  height: 3px;
  position: absolute;
  left: 10px;
  top: 15px;
  border-radius: 25%;
  background-color: #e89579;
}

.txtDustClass {
  position: absolute;
  opacity: 0;
  width: 2px;
  height: 2px;
  background: white;
}

.txtDustClass2 {
  position: absolute;
  opacity: 0;
  border-left: 2px solid transparent;
  border-right: 2px solid transparent;
  border-bottom: 2px solid white;
}
