@import "compass/reset";
@import "compass/css3/transform";
@import "compass/css3/box-shadow";
@import "compass/css3/box-sizing";
@import "compass/utilities/sprites";

/** set up variables **/
$width: 400px;
$height: 500px;
$footerSize: 24px;
$ctaTop: 111px;
$ctaLeft: 41px;
$ctaWidth: 146px;
$ctaHeight: 40px;
$white: #FFFFFF;
$whitetrans: rgba(255,255,255,0);
$black: #000000;
$green: #107c10;
$blue: #0177d7;
