@import "variables";
@import "helpers";

// $endCard: sprite-map("endCard/*.png" , $layout: smart);

/****
** END CARD
****/
// #expansion {
//   width: 500px;
//   height: $height;
//   position: relative;
//   background: url("img/bg-expand.jpg") center;
//   opacity: 0;
//   overflow: hidden;
//
//   #endcardLogo {
//     @extend .abs-pos;
//     background: sprite( $endCard, logo-gow4 );
//     opacity: 0;
//     left: 60px;
//   }
//
//   #heroesContainer {
//     position: relative;
//
//     #heroLeft {
//       position: absolute;
//       top: 101px;
//       left: 89px;
//       width: 126px;
//       height: 155px;
//       background: sprite($endCard , heroLeft);
//     }
//
//     #heroRight {
//       position: absolute;
//       top: 120px;
//       right: 72px;
//       width: 93px;
//       height: 122px;
//       background: sprite($endCard , heroRight);
//     }
//
//     #heroMain {
//       position: absolute;
//       top: 50px;
//       left: 126px;
//       width: 259px;
//       height: 227px;
//       background: sprite( $endCard , heroMain );
//     }
//   }
//
//   #endcard {
//     width: 350px;
//     height: 250px;
//     margin: 0 auto;
//     position: relative;
//
//     #boxContainer {
//       position: absolute;
//       top: 26px;
//       left: 185px;
//       width: 135px;
//       height: 190px;
//       z-index: 10;
//
//       #boxRight {
//         width: 135px;
//         height: 190px;
//         background: sprite( $endCard, pack);
//       }
//     }
//   }
//
//   #rainHolder {
//     position: absolute;
//     width: 500px;
//     height: 500px;
//     top: -150px;
//     left: 0;
//   }
//
//   //******* CTA ********//
//   #ctaBtn {
//     position: absolute;
//     top: $ctaTop;
//     left: $ctaLeft;
//     width: $ctaWidth;
//     height: $ctaHeight;
//     overflow: hidden;
//     cursor: pointer;
//     z-index: 0;
//
//     #ctaBox {
//       position: absolute;
//       width: 100%;
//       height: 100%;
//       background-color: #e02718;
//       @include box-shadow( inset -3px 0px 20px -6px rgba(0,0,0,0.75) );
//
//       #ctaCopy {
//         position: absolute;
//         top: 8px;
//         left: ($ctaWidth - 130) / 2;
//         width: 130px;
//         height: 23px;
//         background: sprite($endCard, cta_text);
//       }
//     }
//   }
//
//   //******* FOOTER ********//
//   #footer {
//     position: absolute;
//     bottom: 0;
//     left: 0;
//     height: $footerSize;
//     width: 100%;
//     background-color: $green;
//
//     #xBoxLogo {
//       position: absolute;
//       top: 5px;
//       left: 44px;
//       height: 16px;
//       width: 77px;
//       visibility: hidden;
//       background: sprite( $endCard , x-box-logo);
//     }
//
//     #winLogo {
//       position: absolute;
//       top: 4px;
//       right: 44px;
//       height: 16px;
//       width: 84px;
//       visibility: hidden;
//       background: sprite( $endCard , windows-logo);
//     }
//   }
// }
