@import "variables";
@import "helpers";

// set up where the image sprites come from
$sprites: sprite-map( "sprites/*.png" , $layout: smart );

#mu_wrapper {
    @extend .abs-pos;
    // opacity: 0;
    background-color: black;
    // visibility: hidden;
    background-color: #FFFFFF;

    .show {
        visibility: visible;
    }

    #sceneContainer {
        position: absolute;
        top: 0;
        left: 0;
        width: $width;
        height: $height - $footerSize;
    }
    #bg {
        position: absolute;
        top: 0;
        left: 0;
        width: $width;
        height: $height;
        background: url('img/bg.jpg') no-repeat;
    }

    video {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
        width: ($width - 20);
    }

    #knowMore {
        position: absolute;
        width: 195px;
        height: 37px;
        left: ($width - 195) / 2;
        bottom: $footerSize + 25;
        background: sprite($sprites , know-more);
        cursor: pointer;
        box-shadow: 0 0 15px 1px rgba(255, 255, 255, 0.6);
        opacity: 0.85;
        transition: all 0.35s ease;

        &:hover {
            opacity: 1 !important;
        }
    }
}